.g--text-align--left {
    text-align: left;
}

.g--display-flex {
    display: flex;
}

.g--flex-1 {
    flex: 1;
}

.g--cursor-pointer {
    cursor: pointer;
}

.g--mg-10 {
    margin: 10px;
}

.g--normal-border-shadow {
    box-shadow: 2px 2px 2px 1px grey;
    border-radius: 5px;
    padding: 5px;
}

.g--width-100-per {
    width: 100%;
}

.g--overflow-auto {
    overflow: auto;
}

.g--height--100vh {
    height: 100vh;
}

.g--margin-0-5 {
    margin: 0 5px;
}

.g--margin-5 {
    margin: 5px;
}

